[Unit]
Description=Waybar
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
WorkingDirectory=/home/comodino/.config/waybar/
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
