[Unit]
Description=Waybar
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Environment="RSPOTIFY_CLIENT_ID=fbb59443f9ae488caecc97f898f607f5"
Environment="RSPOTIFY_CLIENT_SECRET=20f4c1a82aff44b19cb7469b33153e84"
WorkingDirectory=/home/comodino/.config/waybar/
Restart=on-failure

[Install]
WantedBy=default.target
