snippet println
	System.out.println("${0}");
snippet print
	System.out.print("${0}");
snippet main
	public static void main (String[] args) {
		${0}
	}
snippet pow
	Math.pow(${1}, ${2})${0}
snippet cl
	${1}class ${2} {
		${0}
	}
